<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Subscription and Billing</h1>
                <hr />
                <span class="pull-left">Next billing date: </span><span class="pull-left" style="font-weight: bold"
                    th:text=" ${musicAccount.nextBillingDate}">...</span><br />
                <span class="pull-left">Service: </span><span class="pull-left" style="font-weight: bold"
                    th:text=" ${musicAccount.serviceName}">...</span><br />
                <span class="pull-left">Service provider: </span><span class="pull-left" style="font-weight: bold"
                    th:text=" ${musicAccount.serviceProvider}">...</span><br />
                <hr />

                <br />
                <span class="pull-left" style="color: #8c8c8c;font-size: 16pt">Previous payments </span>
                <br />
                <hr />

                <div class="table-responsive">
                    <table id="example" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center">Date</th>
                            <th style="text-align: center">Service period</th>
                            <th style="text-align: center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="subscription : ${subscriptionList}">
                            <td data-th-text="${subscription.startDate}">...</td>
                            <td data-th-text="${subscription.startDate} - ${subscription.endDate}">...</td>
                            <td data-th-text="${subscription.total}">...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <hr />
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">CANCEL SUBSCRIPTION</button>
                </div>

            </div>
        </div>

    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>